{% load static %}
<html>
    <title>

    </title>
    <head>
        <link rel="stylesheet" href="{% static 'login.css' %}">

    </head>
    <body>

        <div class="box" id="login">
            <p id="text1">Log in</p></br>
            <form action="login" method="POST"></form>
            <p>Username: </p>
            <input type="text" name="username"/>
            <p>Password: </p>
            <input type="text" name="password"/></br>
            <input type="submit" id="subb"/>

        </div>
        


    </body>

</html>